python/
kvd/
trash/
KVVD/
rkkvd/
backup/
py_scripts/obubchalka/
dgp10/copy/
dgp10/files1/
/dgp10/clear1.sh
/dgp10/desktop_file_fu.sh
/dgp10/desktop_file_syr.sh
/dgp10/desktop_file_pro.sh
/user_login.sh
/zastava_agent_min_2.sh
/zabbix.sh
/bot_1.sh
/zastava_agent_min_1.sh
/certs_minfin.sh
/tk_techsup.sh